* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 1rem;
  background-color: rgb(243, 206, 137);
}

main {
  width: 100%;
  border: 1px solid black;
  padding: 1.2rem;

  .line {
    height: 1px;
    background-color: black;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 100%;

    .nav-left {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2.7rem;
      }

      h1 {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 1rem;
      }
      .dark-mode {
        border: 1px solid black;
        display: flex;
        padding: 0.5rem 1.2rem;
        border-radius: 2rem;
        justify-content: flex-start;
      }

      .menu {
        width: 1.8rem;
        display: block;
      }

      .nav-links {
        display: none;
      }
    }
  }

  .view-1 {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    p {
      font-family: "Roboto Mono";
      text-transform: uppercase;
      font-size: 1rem;
    }

    h1 {
      font-family: "Syne";
      font-size: 3.2rem;
    }

    .image-container {
      width: 100%;
      aspect-ratio: 2/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }

  .view-2 {
    width: 100%;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      padding-bottom: 1rem;

      p {
        font-family: "Roboto Mono";
        font-size: 1rem;
        text-transform: uppercase;
      }

      h1 {
        font-family: "Syne";
        font-size: 2.9rem;
        font-weight: 500;
      }

      button {
        width: fit-content;
        margin-top: 0.5rem;
        padding: 0.7rem 1rem 0.7rem 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        letter-spacing: 1.5px;
        border-radius: 0.5rem;
        font-family: "Roboto Mono";
      }
    }

    .bottom {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-top: 1rem;

      .service {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        padding: 1.5rem 0rem 1.5rem 0rem;

        h2 {
          font-family: "Syne";
          font-weight: 400;
          font-size: 2.5rem;
          letter-spacing: 1px;
        }

        p {
          font-family: sans-serif;
          font-size: 1rem;
          letter-spacing: 1px;
          font-weight: 300;
          color: rgb(25, 25, 25);
        }
      }

      img {
        width: 4rem;
        object-fit: cover;
      }
    }
  }

  .view-3 {
    width: 100%;
    display: flex;
    flex-direction: column;

    .our-team {
      padding: 1rem 0 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-family: "Syne";
        font-size: 2.6rem;
        font-weight: 500;
        letter-spacing: 1px;
      }

      p {
        font-family: sans-serif;
        font-size: 1.2rem;
        color: rgb(25, 25, 25);
        letter-spacing: 1px;
      }
    }

    .video-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 0 2rem 0;

      .video {
        width: 100%;

        video {
          width: 100%;
          border-radius: 1rem;
          object-fit: cover;
        }

        h2 {
          font-family: "Syne";
          font-size: 1.2rem;
          margin-top: 0.5rem;
        }

        p {
          font-family: "Roboto Mono";
          margin-top: 0.3rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .view-4 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      img {
        width: 4rem;
      }

      p {
        margin-top: 1rem;
        font-family: "Roboto Mono";
        font-weight: 400;
        font-size: 0.9rem;
        letter-spacing: 1px;
      }

      h2 {
        font-family: "Syne";
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 500;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      p {
        font-family: sans-serif;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        font-weight: 100;
        color: rgb(25, 25, 25);
      }

      button {
        width: fit-content;
        margin-top: 0.5rem;
        padding: 0.7rem 1rem 0.7rem 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        letter-spacing: 1.5px;
        border-radius: 0.5rem;
        font-family: "Roboto Mono";
      }
    }
  }

  footer {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;

    .footer-content {
      border-bottom: 1px solid black;
      padding: 2rem 0 2rem 0;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .fylla {
        width: 3rem;
        display: flex;
        gap: 1rem;
        align-items: center;

        p {
          font-size: 1.5rem;
          font-family: "Syne";
        }
      }

      .address {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          font-family: sans-serif;
          font-size: 0.9rem;
          gap: 1px;
          font-weight: 100;
        }
      }

      .round {
        margin-top: 3rem;
        display: flex;
        gap: 1rem;

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          border: 1px solid black;
          border-radius: 50%;
          font-family: "Roboto Mono";
          font-size: 0.9rem;
        }
      }

      a {
        text-decoration: none;
        font-family: "Roboto Mono";
        color: rgb(25, 25, 25);
        text-transform: uppercase;
      }
      h3 {
        font-family: "Syne";
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      button {
        width: fit-content;
        margin-top: 0.5rem;
        padding: 0.7rem 1rem 0.7rem 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        letter-spacing: 1.5px;
        border-radius: 0.5rem;
        font-family: "Roboto Mono";
      }
    }
  }

  .footer-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Roboto Mono";
    gap: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    .left {
      display: flex;
      gap: 0.5rem;

      span {
        border-bottom: 1px solid black;
      }
    }

    .right {
      display: flex;
      gap: 2rem;
    }
  }
}

@media (min-width: 1020px) {
  main {
    padding: 2rem 3rem 2rem 3rem;

    nav {
      .nav-right {
        .menu {
          width: 1.8rem;
          display: none;
        }

        .nav-links {
          display: flex;
          gap: 3rem;
          margin-right: 5rem;
          align-items: center;

          a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Roboto Mono";
            color: rgb(25, 25, 25);
            font-size: 1rem;
            transition: all linear 0.5s;
          }

          a:hover {
            border-bottom: 1.5px solid black;
          }

          button {
            width: fit-content;
            padding: 0.7rem 1rem 0.7rem 1rem;
            font-size: 0.8rem;
            text-transform: uppercase;
            background-color: black;
            color: white;
            border: none;
            outline: none;
            letter-spacing: 1.5px;
            border-radius: 0.5rem;
            font-family: "Roboto Mono";
            cursor: pointer;
          }
        }
      }
    }

    .view-1 {
      padding: 3rem 0 3rem 0;

      h1 {
        font-size: 6rem;
      }
    }

    .view-2 {
      flex-direction: row;
      padding: 2rem 0 2rem 0;

      .top {
        width: 70%;

        h1 {
          font-size: 4.5rem;
        }

        button {
          margin-top: auto;
        }
      }

      .bottom {
        width: 30%;
      }
    }

    .view-3 {
      flex-direction: row;
      padding: 2rem 0 2rem 0;
      position: relative;

      .our-team {
        width: 40%;
        position: sticky;
        top: 0;

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.2rem;
          font-family: sans-serif;
        }
      }
      .video-container {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .video {
          h2 {
            font-size: 1.5rem;
            margin-top: 0.8rem;
          }

          p {
            margin-top: 0.5rem;
            font-size: 1rem;
          }
        }
      }
    }

    .view-4 {
      flex-direction: row;
      padding: 1rem 0 1rem 0;

      .right {
        width: 30%;

        p {
          font-size: 1.5rem;
        }

        button {
          margin-top: auto;
        }
      }

      .left {
        width: 70%;
        flex-direction: column-reverse;
        gap: 10rem;

        img {
          margin-top: auto;
        }

        h2 {
          font-size: 5rem;
        }
      }
    }

    footer {
      width: 100%;
      padding: 7rem 0 3rem 0;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;

      .footer-content {
        flex: 1;

        button {
          margin-top: 1.5rem;
        }
      }

      .content-1 {
        flex: 2;
      }
    }

    .footer-template {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
